<html>
    <body>
        <form action="/create" method="post">
            <label>Tytuł: 
                <input name="title">
            </label>
            <label>Description: 
                <input name="description">
            </label>
            <label>Rating: 
                <input name="rating">
            </label>
            <input type="submit">
        </form>
    </body>
</html>