<html>
    <body>
        <form action="/book/create" method="post">
            <label>Tytuł: 
                <input name="title">
            </label>
            <label>Description: 
                <input name="description">
            </label>
            <label>Rating: 
                <input name="rating">
            </label>
            <label>Author: 
                <select name="author_id">
                {% for author in authors %}
                    <option value="{{author.id}}" name="author_name">{{author.name}}</option>
                {% endfor %}
                </select>
            </label>
            <input type="submit">
        </form>
    </body>
</html>