<html>
    <body>
        <form action="/author/create" method="post">
            <label>Name: 
                <input name="name">
            </label>
            <label>Description: 
                <input name="description">
            </label>
            <input type="submit">
        </form>
    </body>
</html>